/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.marketing {
    text-align: center;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 1rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.col-lg-6 {
        margin-top: 20px; !important;
    }

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }


}

.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    border-bottom: .05rem solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

.marketing ul {
    padding-top: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
